[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openapi = "*"
discord = "*"
openai = "*"
environ = "*"
torch = "*"
transformers = "*"
black-macchiato = "*"

[dev-packages]

[requires]
python_version = "3.10"
